@use './mixins' as *;
@use './variables' as *;

.html {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.menu-btn {
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.insert {
  @include font-ibm;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: $color-grey;
  margin: 0;
  width: 100%;

  @include tablet {
    font-size: 14px;
  }
}

.date {
  @include font-ibm;

  font-size: 16px;
  line-height: 150%;
  color: $color-gr;

  @include tablet {
    font-size: 14px;
  }
}

.footer__schedule-container,
.schedule {
  @include font-ibm;

  font-size: 14px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 141%;
  color: $color-wh;
  margin: 0;
  margin-bottom: 20px;
}

.hours-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.warning-text,
.time {
  font-weight: 600;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}
