@use './mixins' as *;
@use './variables' as *;

.footer {
  box-sizing: border-box;
  padding-block: 50px;

  @include padd;

  @include tablet {
    padding-block: 48px 35px;

    @include grid;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 62px;
      justify-content: flex-start;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__social-img {
    display: block;
    height: 24px;
    width: 24px;
    object-fit: contain;
    transition: all 0.3s ease;

    @include hover(1.1);
  }

  &__logo-img {
    display: block;
    height: 72px;
    width: 100%;
    object-fit: contain;
    transition: all 0.3s ease;

    @include hover(1.1);
  }

  &__text {
    color: $color-bl;
    margin-block: 0 20px;
  }

  &__hours-list {
    color: $color-bl;
  }

  &__warning {
    color: $color-bl;
    font-weight: 400;
    margin-bottom: 0;
  }

  &__schedule {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;

    border-bottom: 1px solid rgba(26, 90, 76, 0.5);
    padding-bottom: 70px;

    @include tablet {
      grid-column: span 4;
      padding-bottom: 64px;
    }

    @include desktop {
      grid-column: 3 / span 5;
      border-bottom: none;
      border-right: 1px solid $color-gr;
      padding-right: 65px;
      padding-bottom: 0;
      gap: 30px;
    }
  }

  &__contact-text {
    @include font-ibm;

    margin: 0;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  }

  &__contact-info {
    display: block;
    margin-bottom: 20px;
  }

  &__btn-up {
    position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-gr;
    transition: all 0.3s ease;

    @include hover(1.1);

    @include tablet {
      display: none;
    }
  }

  &__btn-img {
    display: block;
    width: 10px;
    height: 12px;
    object-fit: contain;
  }

  &__nav {
    padding-block: 40px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include tablet {
      grid-row: 2;
      grid-column: 2 / 6;
      padding-block: 44px 120px;
    }

    @include desktop {
      grid-row: 1;
      grid-column: 8 / 12;
      padding-left: 30px;
      padding-block: 0;
      gap: 20px;
      height: 60px;
    }

    &-link {
      @include font-ibm;

      color: $color-bl;
      font-weight: 400;
      line-height: 100%;
      font-size: 14px;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    @include tablet {
      grid-row: 3;
      grid-column: span 6;
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      grid-column: span 12;
      padding-top: 17px;
    }

    &-text {
      @include font-ibm;

      margin: 0;
      font-size: 12px;
      font-weight: 300;
      line-height: 141%;
    }
  }
}
