@use './mixins' as *;
@use './variables' as *;

.from-cl-to-rom {
  display: flex;
  flex-direction: column;

  &__image {
    min-height: 210px;
    width: 100%;
    background-image: url(../images/Rectangle-20.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      min-height: 390px;
    }

    @include desktop {
      min-height: 550px;
    }
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-bottom: 2px solid rgba(26, 90, 76, 0.25);
    padding-block: 20px;
    margin-top: -60px;
    background-color: $color-wh;

    margin-inline: 20px;

    @include tablet {
      margin-inline: 65px;
      text-align: left;
      padding-inline: 55px;
      gap: 16px;
      padding-block: 45px 50px;
      margin-top: -85px;
    }

    @include desktop {
      margin-inline: 355px;
      padding-inline: 100px;
      margin-top: -100px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 100%;
    font-weight: 400;
    margin: 0;

    @include tablet {
      font-size: 36px;
    }
  }

  &__insert {
    justify-content: space-around;

    @include tablet {
      box-sizing: border-box;
      justify-content: space-between;
      padding-right: 160px;
    }

    @include desktop {
      padding-right: 35px;
    }
  }
}
