$color-gr: rgba(26, 90, 76, 1);
$color-bl: rgba(15, 14, 8, 1);
$color-grey: rgba(104, 116, 128, 1);
$color-grey2: rgba(78, 78, 78, 1);
$color-grey5: rgba(224, 224, 224, 1);
$color-wh: rgba(255, 255, 255, 1);
